.menu-fullscreen{
    position: fixed;
    background: #CEAD9E;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;//menu hidden
    opacity:0;//menu hidden
    transition: 0.3s ease;
}
.menu-fullscreen_visible{ right: 0; opacity:1}


.nav-trigger{
    display: block;
    position: fixed;
    z-index: 100;
}

.menu {
    position: relative;
    top: 50%;
    transform: translateY(-80%);

    li{
        list-style: none;
        text-align: center;
        margin: 30px;

        a{
            box-sizing: border-box;
            font-size: 3em;
            display: block;
            text-transform: uppercase;
            letter-spacing: 25px;
            text-shadow: 6px 6px 20px rgba(0,0,0,0.4);
            color: #5B485B;
            font-family: 'Dosis', sans-serif;
            transition: ease 0.4s;
        }
        a:hover{
            transform: scale(1.5);
            text-shadow: 3px 3px 28px rgba(0,0,0,1);
        }
    }


}
