.menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    //writing-mode: tb-rl;
    //text-orientation: upright;
    padding-top: 40px;

    li{
        //position: absolute;
        list-style: none;
        //float: left;
        display: block;


        a{
            box-sizing: border-box;

            font-size: 1.2em;
            display: block;
            text-transform: uppercase;
            text-shadow: 3px 3px 15px rgba(0,0,0,0.7);
            color: white;
            //color: #5B485B;
            font-family: 'Dosis', sans-serif;
            padding: 3px 50px;
        }
    }

    li:after{
        z-index: -1;
        content: "";
        position: relative;
        top: -1.75em;
        display: block;
        height: 1.7em;
        width: 0;
        background: linear-gradient(65deg, #624B5F, #CBA39B);
        border-radius: 13px;
        transition: 0.4s;
    }

    li:hover:after{
        width: 100%;
    }


}
