@import "../_settings.scss";
#about-me{
    overflow: hidden;
    position: relative;
    background-image: url(../../img/laura-lefurgey-smith-28645.jpg);
    background-size: cover;
}



.gradient_second-gradient{
    background: linear-gradient(-20deg, rgba(158, 116, 123,0.7) , rgba(215, 207, 186, 0.8));
    background-size: 200% 200%;
    -webkit-animation: backgroundMove  15s ease infinite;
    -moz-animation: backgroundMove  15s ease infinite;
    animation: backgroundMove  15s ease infinite;
}

.avatar{
    width: 100%;
    margin: 0;
}


.about-me_content{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.4em;
    color: $first-font-color;
    font-weight: 300;
}
