@import "../_settings.scss";
#about-me{
    overflow: hidden;
    position: relative;
    background-image: url(../../img/milo-mcdowell-2319.jpg);
    background-size: cover;
}


.avatar{
    width: 100%;
    margin: 0;
}


.about-me_content{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.4em;
    color: $first-font-color;
    font-weight: 300;


}
