.portfolio > .section-header{
    // position: absolute;
    // z-index: 100;
}


.portfolio{
    background-image: url(../../img/ronald-smeets-208652.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
}


.works{
    position: absolute!important;
    transform: translateY(-50%)!important;
    top:50%!important;
}



.work{
    width: 100%;
    border-radius: 8%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.5);

    .work_img{
        position: absolute;
        margin: 0 auto;
        height: 100%;
        transition: 0.3s;
    }
    .work_img:hover{
        transform: scale(1.3);
    }
    header{
        position: absolute;
        bottom: -1px;
        text-align: center;
        width: 100%;
        background: linear-gradient(30deg, rgb(175, 137, 150), rgb(206, 182, 173));
        transition: 0.1s;
    }
    p{
        display: none;
        position: absolute;
        background: #956676;
    }
    p:hover{
        display: block;
    }
}
.work:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.work:hover{
    header{
        transform: translateY(100%);
    }
}
