.portfolio > .section-header{
    position: absolute;
    z-index: 100;
    .title{
        position: relative;
        right: -25vw;
    }
}

.gradient_third-gradient{
    background:rgba(170, 161, 180, 0.8);
}

.portfolio{
    background-image: url(../../img/andy-kerr-153378-unsplash.jpg);
    background-size: cover;
    position: relative;
    z-index: -1;
}

.work{
    top: 0;
    position: absolute;

    .work_image{
        width: 50vw!important;
        height: 100vh;
        float: left;
        opacity: 0.8;
        transition: 1s;
        img{
            width: 100%;
            height: auto;
        }
    }
    .work_content{
        display: block;
        width: 50vw;
        float: left;
        margin-top: 29vh;
        padding: 100px;
        box-sizing: border-box;
        color: #303145;
        font-size: 1.5em;
    }

    .work_title{
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.4em;
    }
}
