@import "../_settings.scss";
// Table of Content
//     3.1: Gradient, Clouds
//     3.2: Card Name

.first-section{
    overflow: hidden;
    position: relative;
    background-image: url(../../img/nathan-anderson-129007.jpg);
    background-size: cover;
}

/*
======================
3.1: Gradient, Clouds
*/

.gradinet{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.gradient_first-gradient{
    background: $first-gradient;
}
.gradient_second-gradient{
    background: linear-gradient(-20deg, rgba(178, 126, 135,0.8) , rgba(215, 207, 186, 0.9));
    background-size: 200% 200%;
    -webkit-animation: backgroundMove  15s ease infinite;
    -moz-animation: backgroundMove  15s ease infinite;
    animation: backgroundMove  15s ease infinite;


}
@-moz-keyframes backgroundMove{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}
@-webkit-keyframes backgroundMove{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}
@keyframes backgroundMove{
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}







.clouds{
    position: absolute;
}
    .clouds__cloud{
        left: 0;
        width: 200vw;
        height: auto;
        position: absolute;
        animation-iteration-count: infinite;
    }
        .clouds__cloud_horizontal{
            opacity: 0.6;
            animation-duration: 90s;
            animation-name: cloud-move-horizontal;
        }
        .clouds__cloud_vertical{
            opacity: 0.4;
            animation-duration: 120s;
            animation-name: cloud-move-vertical;
        }

@keyframes cloud-move-horizontal{
    0%   {left: 0;}
    50% {left: -100vw}
    100% {left: 0}
}
@keyframes cloud-move-vertical{
    0%   {top: 0;}
    50% {top: -100vh}
    100% {top: 0}
}




/*
======================
3.2: Card Name
*/
.personal-card {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    height: 60vh;
    width: 60vh;
    transform:translate(-50%, -50%);
    background:
        linear-gradient(135deg,
            rgba(224, 198, 136, 0.8) 0%,
            rgba(209, 169, 129, 0.5) 25%,
            rgba(195, 120, 129, 0.5) 50%,
            rgba(109, 64, 91, 0.5) 75%,
            rgba(56, 57, 87, 0.8) 100%
        );
    background-size: 200%;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    font-weight: lighter;
    animation-name: shadow-spin, wavy-colors;
    animation-duration: 30s, 15s;
    animation-timing-function: linear, ease;
    animation-iteration-count: infinite;
}

@keyframes shadow-spin{
    0%   {box-shadow: 20px 0px 50px 0px rgba(0,0,0,0.4);}
    25% {box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.4);}
    50% {box-shadow: -20px 0px 50px 0px rgba(0,0,0,0.4);}
    75% {box-shadow: 0px -20px 50px 0px rgba(0,0,0,0.4);}
    100% {box-shadow: 20px 0px 50px 0px rgba(0,0,0,0.4);}
}


@keyframes wavy-colors{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.personal-info{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
    .card-name__name{
        font-size: 10vh;
        font-weight: lighter;
        margin: 0;
        text-transform: uppercase;
        text-shadow: 10px 10px rgba(255,255,255,0.1);
    }
    .card-name__short-desc:before{
        display: block;
        content: "";
        width: 6vw;
        margin: 0 auto;
        border-top: 1px solid rgba(255, 255, 255, 0.7);
        margin-bottom: 10px;
    }
    .card-name__short-desc{
        font-size: 1.5em;
        text-transform: capitalize;
        letter-spacing: 10px;
    }






.scroll-page-trigger{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 5em;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.6);
    z-index: 2;
}
